/trial_sigma/
/files/
/files_boldc/
/files_ctqmc/
python_src/__pycache__/
/__pycache__/
/test/
/old_ctqmc_files/
/old_boldc_files/
/files_pert_ctqmc/
/files_pert_boldc/
boldc_cache/*
ctqmc_cache/*
/backup/
status.*
debug.*
/previous_version/
Sig12.dat
Delta.inp
PARAMS
one_band.imp
!boldc_cache/launch_pert_boldc.py
!boldc_cache/run_pert_boldc.py
!ctqmc_cache/launch_pert_ctqmc.py
!ctqmc_cache/run_pert_ctqmc.py
/python_src/boldc
/python_src/ctqmc
/Tools/spec_plot