/files_boldc/
/files_ctqmc/
cache_ctqmc/*
cache_boldc/*
/backup/

!cache_boldc/launch_bold_mixing.py
!cache_ctqmc/launch_pert_ctqmc.py
/python_src/boldc
/python_src/ctqmc
/Tools/spec_plot
/Tools/FreeEnergy

/perturbation/data
/perturbation/data_iterative
/perturbation/energydata
/perturbation/energydatabackup
/perturbation/impenergydata
/perturbation/magdata
/perturbation/__pycache__
/perturbation/Sigma_disp
/perturbation/Sigma_imp


/Tools
!/Tools/FreeEnergy/cmpEimp_bold.py
!/Tools/FreeEnergy/cmpEimp_ctqmc.py

/python_src/boldc
/python_src/ctqmc
/python_src/diagramsMC/__pycache__
/python_src/__pycache__
/python_src/diagramsMC/cmn
/python_src/diagramsMC/svdwrap.cc
/python_src/diagramsMC/backup
/python_src/diagramsMC/svd_pybind11_from_Kristjan